html.twitter-no-active,
html.twitter-no-active body {
  margin: 0 !important;
  width: 100% !important;
  min-height: 100% !important;
  overflow: hidden !important;
  background: #fff !important;
  caret-color: transparent !important;
  cursor: default !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

html.twitter-no-active body > :not(#twitter-no-root) {
  display: none !important;
}

#twitter-no-root {
  position: fixed !important;
  inset: 0 !important;
  z-index: 2147483647 !important;
  display: grid !important;
  place-items: center !important;
  background: #fff !important;
  color: #000 !important;
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  text-transform: lowercase !important;
  caret-color: transparent !important;
  cursor: default !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

#twitter-no-root .twitter-no-word {
  color: #000 !important;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 64px !important;
  font-weight: 400 !important;
  line-height: 1 !important;
  letter-spacing: 0 !important;
  caret-color: transparent !important;
  cursor: default !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

#twitter-no-root .twitter-no-close {
  position: absolute !important;
  top: calc(50% + 86px) !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  border: none !important;
  outline: 1px dotted rgb(37, 37, 37) !important;
  outline-offset: -4px !important;
  cursor: pointer !important;
  background: hsl(0deg 0% 75%) !important;
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff !important;
  color: #000 !important;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1 !important;
  text-transform: lowercase !important;
  letter-spacing: 2px !important;
  padding: 5px 30px !important;
  caret-color: transparent !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

#twitter-no-root .twitter-no-close:active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158) !important;
}
